body {
  font-family: 'Arial', sans-serif;
  background-color: #fdf7f1;
  margin: 0;
  padding: 20px;
}

#recipeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.cooking-time {
  font-weight: bold;
  color: #5c3317;
  background: #ffe4c4;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.card a {
  text-decoration: none;
  color: #007e3a;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.card a:hover {
  text-decoration: underline;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.language-switch {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f8f8f8;
}

.language-switch label {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.language-switch input {
  margin-right: 5px;
  transform: scale(1.2);
}

select, input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  transition: border-color 0.3s ease;
}

select:focus, input:focus {
  border-color: #ff6600;
  outline: none;
}

.filters button {
  background: #007e3a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.filters button:hover {
  background: #005e2b;
}